<h3 class="my-5">
    Contact us
</h3>

<div class="row gx-5">
    <img src= "~/Images/contact//contact.jpg" class="img-fluid col-3"/>
    <div class=col-7>
        <h1>We would love to hear from you</h1>
        <h5>Please contusct us by sending email using below button</h5>
        <email address="silamhrushikesh76@@gmail.com" content="Contact Us" class="btn btn-secondary"></email>
    </div>

</div>
